{% extends 'base.html.twig' %}

{% block title %}Véhicules{% endblock %}

{% block body %}
<header class="main-header">
        <div class="container">
           <h1 style="color: #D9777F">Garage V. Parrot</h1>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="{{ path('homepage') }}">Services</a></li>
                        <li><a href="{{ path('app_vehicule') }}">Véhicules</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a href="{{ path('app_register') }}">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</header>

<main >
      {% for vehicle in vehicles %}
      <div style="justify-content: center; margin: 0 auto;" class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" >
                    <div class="card-body">
                        <h5>{{ vehicle.brand }}</h5>
                        <p class="card-text">Années :{{ vehicle.year }}</p>
                        <p class="card-text">Kilomètres :{{ vehicle.mileage }}  </p>
                    </div>
                </div>
            </div>
      </div>
      {% endfor %}
</main>

<footer>
        <div class="container">
            <div class="footer-logo">
                <p>Garage V. Parrot</p>
            </div>
            <div class="footer-address">
                <p>123 Rue de la Réparation<br>Toulouse</p>
            </div>
            <div class="footer-schedule">
                <h4>Horaires</h4>
                <ul>
                  {% for horaire in horaires %}
                  <li>{{ horaire.jour }} : {{horaire.heureOuverture}} / {{horaire.heureFermeture}}</li>
                  {% endfor %}
                </ul>

            </div>
            <div class="footer-contact-form">
                <h4><a href="{{ path('app_contact') }}">Nous Contacter</h4>
            </div>
        </div>
    </footer>
{% endblock %}
