{% extends 'base.html.twig' %}

{% block title %}Garage V. Perrot{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage V. Parrot</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>

    {# Header #}
    <header class="main-header">
        <div class="container">
            <div class="header-left">
                <p>Garage V. Perrot</p>
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="services-section">Services</a></li>
                        <li><a href="{{ path('app_vehicule') }}">Véhicules</a></li>
                        <li><a href="{{ path('app_vehicule') }}">Contact</a></li>
                        <li><a href="{{ path('app_register') }}">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {# Image de voiture #}
    <img src="https://www.comprendrelautomobile.com/wp-content/uploads/2021/07/reparer-sa-voiture-soi-meme.jpg" />


    {# Services #}
    <h2 style="text-align: center">Nos Services</h2>
     <div class="services-section"> 
            <div class="service">
                {% for service in services %}
                <h3>{{ service.name }}</h3>
                <p>{{ service.content }}
                {% endfor %}
            </div>
     </div>

    {# Véhicules d'occasion #}
    <div class="véhicules-liste">
     <div class="container">
           <button>Voir la liste de nos véhicules d'occasion</button>
        </div>
    </div>

    {# Avis #}
    <div class="comment">
        <div class="last-comment">
            Ici, on pourra voir les trois derniers commentaires
        </div>
        <div class="last-comment">
            Ici, on pourra voir les trois derniers commentaires
        </div>
        <div class="last-comment">
            Ici, on pourra voir les trois derniers commentaires
        </div>
    </div>

    {# Footer #}
    <footer>
        <div class="container">
            <div class="footer-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Garage V. Parrot">
            </div>
            <div class="footer-address">
                <p>123 Rue de la Réparation<br>Toulouse</p>
            </div>
            <div class="footer-schedule">
                <h4>Horaires</h4>
                <ul>
                  {% for horaire in horaires %}
                  <li>{{ horaire.jour }} : {{horaire.heureOuverture}} / {{horaire.heureFermeture}}</li>
                  {% endfor %}
                </ul>

            </div>
            <div class="footer-contact-form">
                <h4>Nous Contacter</h4>
                <!-- Mini formulaire de contact ici -->
            </div>
        </div>
    </footer>

</body>
</html>


{% endblock %}

