{% extends 'base.html.twig' %}

{% block title %}Garage V. Perrot{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage V. Parrot</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>

    {# Header #}
    <header class="main-header">
        <div class="container">
           <h1 style="color: #D9777F">Garage V. Parrot</h1>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="#services-section">Services</a></li>
                        <li><a href="{{ path('app_vehicule') }}">Véhicules</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a href="{{ path('app_register') }}">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</header>

    {# Image de voiture #}
    <div class="vitrine">
        <img class="vitrine-image" src="https://www.turbo.fr/sites/default/files/2022-06/voiture%20reparation%20moindre%20cout.jpeg" />
    </div>

    {# Services #}
    <div id="services-section">
        <h2 style="text-align: center; ">Nos différents services</h2>
            <div class="service">
                {% for service in services %}
                <h3 style="text-align: center">{{ service.name }}</h3>
                <p style="text-align: center">{{ service.content }}
                {% endfor %}
            </div>
     </div>

    {# Véhicules d'occasion #}
    <div style="text-align: center">
        <button>Voir la liste de nos véhicules d'occasion</button>
    </div>

    {# Avis #}
    <div class="column" style="text-align: center">
        <div>
            <h4>Nom de l'utilisateur</h4>
            <p>ci, on pourra voir les trois derniers commentaires</p>
        </div>
        <div>
            <h4>Nom de l'utilisateur</h4>
           <p> Ici, on pourra voir les trois derniers commentaires</p>
        </div>
        <div>
            <h4>Nom de l'utilisateur</h4>
            <p>Ici, on pourra voir les trois derniers commentaires</p>
        </div>
    </div>

    {# Footer #}
    <footer>
        <div class="container">
            <div class="footer-logo">
                <p>Garage V. Parrot</p>
            </div>
            <div class="footer-address">
                <p>123 Rue de la Réparation<br>Toulouse</p>
            </div>
            <div class="footer-schedule">
                <h4>Horaires</h4>
                <ul>
                  {% for horaire in horaires %}
                  <li>{{ horaire.jour }} : {{horaire.heureOuverture}} / {{horaire.heureFermeture}}</li>
                  {% endfor %}
                </ul>

            </div>
            <div class="footer-contact-form">
                <h4><a href="{{ path('app_contact') }}">Nous Contacter</h4>
            </div>
        </div>
    </footer>

</body>
</html>

{% endblock %}

