{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

<header class="main-header">
        <div class="container">
            <h1 style="color: #D9777F">Garage V. Parrot</h1>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="{{ path('homepage') }}">Services</a></li>
                        <li><a href="{{ path('app_vehicule') }}">Véhicules</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a href="{{ path('app_register') }}">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</header>

    <div class="container mt-5">
    <h1>Contactez-nous</h1>
    <form action="" method="POST">
        <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Message :</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>

<footer>
    <div class="container">
        <div class="footer-logo">
               <p>Garage V. Parrot</p>
         </div>
        <div class="footer-address">
            <p>123 Rue de la Réparation<br>Toulouse</p>
        </div>
          <div class="footer-schedule">
            <h4>Horaires</h4>
              <ul>
                 {% for horaire in horaires %}
              <li>{{ horaire.jour }} : {{horaire.heureOuverture}} / {{horaire.heureFermeture}}</li>
                {% endfor %}
              </ul>

           </div>
          <div class="footer-contact-form">
              <h4><a>Nous Contacter</a></h4>
           </div>
     </div>
</footer>
{% endblock %}
